body {
    background-image: url("../ASSETS/IMAGES/bgBlog.png");
    background-size: cover;
    font-family: Arial, sans-serif;
}
.entry {
    background-color: rgba(211, 211, 211, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    color: black;
    margin: 20px auto;
    max-width: 800px;
}
.go-back {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #5a5454;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.go-back:hover {
    background-color: #807575;
}
