html {
    height: 100%;
}

body {
    background-image: url("../ASSETS/IMAGES/fairGrounds.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

@font-face {
    font-family: "dancingScript";
    src: url("../ASSETS/FONTS/dancingscript.woff2") format("woff2"),
         url("../ASSETS/FONTS/dancingscript.woff") format("woff");
}

.card[data-card-value="a"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image1.png");
}
.card[data-card-value="b"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image2.png");
}
.card[data-card-value="c"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image3.png");
}
.card[data-card-value="d"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image4.png");
}
.card[data-card-value="e"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image5.png");
}
.card[data-card-value="f"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image6.png");
}
.card[data-card-value="g"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image7.png");
}
.card[data-card-value="h"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image8.png");
}
.card[data-card-value="i"]:not(.hidden):before {
    background-image: url("../ASSETS/IMAGES/image9.png");
}

.card {
    width: 120px;
    height: 160px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    background-image: url("../ASSETS/IMAGES/guessCard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.card:not(.hidden):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 8px;
}

.card.flipped {
    background-image: none;
}

#difficultyWrapper {
    min-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#difficulty {
    text-align: center;
    margin-bottom: 20px;
}

#difficulty button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #3b1fa1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-image: url("../ASSETS/IMAGES/blueCotton.png");
    margin-top: 20px;
    font-family: "danceingScript", cursive;
}

#difficulty button:hover {
    background-color: blue;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    max-width: 900px;
    height: 600px;
    margin: 40px auto;
    background: url("../ASSETS/IMAGES/red-fabric-texture.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    border-radius: 8px;
}

#guessCounter {
    font-family: "danceingScript", cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gameMessage {
    font-family: "danceingScript", cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gameMessage button {
    font-family: "danceingScript", cursive;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#gameMessage button:hover {
    background-color: #218838;
}
#gameBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../ASSETS/IMAGES/red-fabric-texture.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 600px;
    margin: 40px auto;
    border-radius: 8px;
}
.return-home {
    position: absolute; /* Absolute positioning relative to its nearest positioned ancestor (body in this case) */
    top: 20px; /* Adjust this value as needed */
    left: 20px; /* Adjust this value as needed */
}

.return-home button {
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #007bff; /* Adjust background color as needed */
    color: blue; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable area */
    font-size: 16px; /* Adjust font size as needed */
    background-image: url("../ASSETS/IMAGES/blueCotton.png");
    font-family: "danceingScript", cursive;
}

.return-home button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}
